:root {
  box-sizing: border-box;

  --desaturated-red: hsl(0, 36%, 70%); /* title, paragraph */
  --soft-red: hsl(0, 93%, 68%); /* invalid input */
  --dark-grayish-red: hsl(0, 6%, 24%); /* title */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--desaturated-red);
}

img,
picture {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  /* Source: https://www.a11yproject.com/posts/how-to-hide-content/ */
}

.hero-image {
  width: 100%;
  height: auto;
}

.title {
  font-weight: 300;
  text-transform: uppercase;
}

.title-dark {
  font-weight: 600;
  color: var(--dark-grayish-red);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
